body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #555;
}

.start-button{
  color: white;
  background-color: #27ae60;
  border: 2px #fff;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: #27ae60;
  font-weight: 600;
  font-size: large;
  cursor: pointer;
  transform: scale(1);
}

:hover.start-button{
  background-color: #2ecc71;
  transform: scale(1.1);
}

.timer {
  font-size: 1.5em;
  color: #e74c3c;
  margin-bottom: 20px;
}

.quiz-question {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 1rem;
  margin: auto;
}

.title h3 {
  left: 10px;
  top: 10px;
  width: fit-content;
  margin: 0;
  font-size: 1.5em;
  color: #ff0000;
}

.title .timestamp {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timestamp .watch{
  color: #0b0b0b;
  font-size: 36px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.options button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.options button:active {
  background-color: #3e8e41;
  transform: translateY(0);
}

.result {
  font-size: 1.5em;
  color: #27ae60;
}

.result span {
  color: #333;
  font-weight: bold;
}

button:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(100, 100, 250, 0.5);
}

a:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(100, 100, 250, 0.5);
}


/* ANIMATION LITLE BIT */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* RESPONSIV */

@media (max-width: 600px) {
  .app {
    min-width: 50px;
    border-radius: 8px;
  }
  
  .quiz{
    margin: 10px;
    justify-content: center;
    align-items: center;
  }

  .quiz h2 {
    font-size: 20px;
  }

  .question-section h3 {
    font-size: 18px;
  }

  .options button {
    padding: 8px 16px;
    font-size: 14px;
    width: 80%;
    margin: auto;
  }

  .timer {
    font-size: 1.2em;
    margin-bottom: 15px;
  }

  .result h3 {
    font-size: 20px;
  }

  .result p {
    font-size: 16px;
  }

  .title h3 {
    font-size: 1.2em;
  }

  .title .timestamp {
    font-size: 0.8em;
  }
}


